.left{
    width: 45%;
}
p.upcomingAppoint{
    color: var(--black-one);
    font-weight: var(--font-weight-medium);
}
.upcoming{
    display: flex;
}
.upcomingCard{
    margin-left: 8vw;
    margin-right: 8vw;
}
.cardRight > p.tag {
    margin-left: 19vw;
    padding: 1.2vh 2vw;
    background: var(--blue);
    border-radius: var(--border-radius-button);
}
h1.approved{
    margin-top: 3vh;
}
p.request{
    margin-top: 3vh;
}
.rightUpcoming{
    margin-top: 6vh;
}